html {
  display: flex;
  justify-content: center;
  background-color: darkslategray;
}

.App {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  text-align: center;
  width: 80%;
}
